.bg_01 {
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.541), rgba(0, 0, 0, 0.432)),
    url("../img/duck423.jpg") center center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  min-height: 100vh;
  color: white;
  align-items: center;
  justify-content: center;
}

.bg_02 {
    background-image: url('../img/duck424.jpg');
    background-repeat: no-repeat;
    position: relative;
    color: white;
}

.bg_03 {
    background-image: url('../img/duck425.jpg');
    background-repeat: no-repeat;
    position: relative;
    color: white;
}


.bg_fondo_01 {
    background-color: #FF5964;
    color: white;
    text-align: center;
    align-items: center;
    font-family: roboto;

}

.text_color_01 {
    color: #fff;
}

.bg_fondo_02 {
    background-color: #00CECB;
    color: white;
    text-align: center;
    align-items: center;
    font-family: roboto;
}


.bg_fondo_03 {
    background-color: #343642;
    color: white;
    text-align: center;
    align-items: center;
    font-family: roboto;

}