.bg_01 {
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.438), rgba(0, 0, 0, 0.39)),
        url('../img/duck423.jpg');
    position: static;
    color: white;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: green;
}

.bg_02 {
    background-image: url('../img/duck424.jpg');
    background-repeat: no-repeat;
    position: relative;
    color: white;
}

.bg_03 {
    background-image: url('../img/duck425.jpg');
    background-repeat: no-repeat;
    position: relative;
    color: white;
}