h1,
h2,
h3,
h4,
h5 {
    font-family: 'Prata', serif;
}

html {
    scroll-behavior: smooth;
}

.nav-celeste {
    background: #ffd868;
}

.card-pedido {
    width: 340px;
    height: 360px;
    margin: 30px auto 30px auto;
    padding:25px;
    display: grid;
    border-radius: 25px;
    background: #40e0d0;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
    transition: 0.4s;
    cursor: pointer;
    overflow: hidden;
    justify-content: center;
    font-family: roboto;
    color: #0e92d4;
    text-align: center;
    align-items: center;
}

.card-pedido:hover {
    transform: scale(1.1, 1.1);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
}

.estandar-color {
    color: #12ce78;
}

.img_resize_nav {
    height: 15px;
}
.text-desc-info{
    text-align: center;
    color: white;
    font-size: 1.25rem;
    font-weight: 320;
}


@media (min-width: 370px) {
    .text-principal {
        font-size: 3.9rem;
        font-weight: 300;
        line-height: 1.2;
    }

    .p-principal {
        font-size: 1.1rem;
        font-weight: 300;
        line-height: 1.2;
        font-family: Roboto;
    }

    .img_resize_nav {
        height: 15px;
    }
}


@media (min-width: 476px) {
    .text-main {
        color: rgb(236, 236, 225);
        text-align: center;
        justify-content: center;
    }

    .p-principal {
        font-size: 1.5rem;
        font-weight: 300;
        line-height: 1.2;
        font-family: Roboto;
    }

    .img-c {
        width: 100%;
        height: 100%;
        border-radius: 20px 20px 20px 20px;
        box-shadow: 1px 3px 15px 3px #909090;
    }

    .img_resize_nav {
        height: 15px;
    }
}


@media (min-width: 768px) {
    .text-main {
        color: rgb(236, 236, 225);
        text-align: center;
        justify-content: center;
    }

    .p-principal {
        font-size: 1.5rem;
        font-weight: 300;
        line-height: 1.2;
        font-family: Roboto;
    }

    .img-c {
        width: 100%;
        height: 100%;
        border-radius: 20px 20px 20px 20px;
        box-shadow: 1px 3px 15px 3px #909090;
    }

    .img_resize_nav {
        height: 18px;
    }
}


@media (min-width: 992px) {


    .text-principal {
        font-size: 5.5rem;
        font-weight: 300;
        line-height: 1.2;
    }

    .p-principal {
        font-size: 1.5rem;
        font-weight: 300;
        line-height: 1.2;
        font-family: Roboto;
    }


    .text-main {
        color: rgb(236, 236, 225);
        text-align: center;
        justify-content: center;
    }

    .img-c {
        width: 100%;
        height: 100%;
        border-radius: 20px 20px 20px 20px;
        box-shadow: 1px 3px 15px 3px #909090;
    }

    .img_resize_nav {
        height: 24px;
    }
}


@media (min-width: 1200px) {

    .text-principal {
        font-size: 6rem;
        font-weight: 300;
        line-height: 1.2;
    }

    .text-main {
        color: rgb(236, 236, 225);
        text-align: center;
        justify-content: center;
    }

    .img-c {
        width: 100%;
        height: 100%;
        border-radius: 20px 20px 20px 20px;
        box-shadow: 1px 3px 15px 3px #909090;
    }

    .img_resize_nav {
        height: 26px;
    }

    /*+++++++++++++*/
    .newcard {
        width: 100vw;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
    }



    /*+++++++++++++*/
}